@import 'utils/variables';
@import 'components/type';
@import '../../node_modules/modern-normalize/modern-normalize';
@import 'node_modules/aos/src/sass/aos';
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,600;1,200&display=swap');

@font-face {
    font-family: "Juana";
    src: local("JuanaRegular"), local("JuanaSemiBold"),
      url("JuanaRegular.ttf"), url("JuanaraSemiBold.tts");
  }
  
body{
    background-color: var(--color-bg);
    width: 100vw;
    scroll-behavior: smooth;
    &:focus{
        transform: Scale(1.1);
        text-decoration: underline;
        transition: .6s cubic-bezier(0.25, 1, 0.5, 1);
    }
    &a:visited{
        color: grey;
    }
}

// ScrollBar

::-webkit-scrollbar {
    width: 6px;
    height: 0;
    margin-right: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px #c0c0c0;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--color-title);
    border-radius: 10px;
}
#scroll-progress {
    position: fixed;
    bottom: 1vh;
    width: 0%;
    height: 8px;
    background: var(--color-title);
    z-index: 10000;
}

// Grid

.grid{
    display: grid;
    gap: 16px;
    row-gap: 0;
    padding: 0 24px;
    grid-template-columns: 60px repeat(4, 1fr);
}
.grid__blue{
    display: grid;
    overflow-x: hidden;
    gap: 16px;
    row-gap: 0;
    padding: 0 24px;
    margin: 0 0 24px 0;
    grid-template-columns: 60px repeat(4, 1fr);
}

.grid__nav{
    grid-template-columns: repeat(3, 1fr);
}

.grid__footer{
    display: grid;
    grid-template-columns: 60px repeat(4, 1fr);
    gap: 8px;
    margin: 0;
}

// Navigation

.nav{
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 32px 0;
}

.container__menu{
    width: 100vw;
}

// Logo

.logo{
    background-image: url('../assets/images/Logo.svg');
    width: 80px;
    height: 28px;
    text-indent: -2000vh;
    background-repeat: no-repeat;
    grid-column: 1/1;
    cursor: pointer;
}

// Menu

.menu__list{ 
    height: 100vh;
    width: 100vw;
    top: 0;
    padding: 16vh 0 0 0;
    margin: 0;
    list-style: none;
    background-color: var(--color-box);
    position: fixed;
    transform: translateY(-100%);
    transition: transform 1.6s;
    z-index: 19;

    .menu--el{
        display: flex;
        width: 100vw;
        flex-flow: column;
        box-sizing: border-box;
        padding: 16px;
        margin: 0;
        font-size: 22px;
        border-bottom: 1px solid var(--color-slider);
        &:hover{
            background-color: var(--color-bg);
            transition: 0.6s;
        }
        &:hover > a::after{
            width: 100%;
            transition: width .6s;
        }
        & a{
            text-decoration:none;
            color: white;
            margin-left: 20px;
            margin-right: auto;
            &:hover{
                color: var(--color-title);
            }
            &::after{
                display: block;
                content: "";
                width: 0;
                height: 2px;
                background: var(--color-title);
            }
            &:focus{
                color: var(--color-title);
                transform: Scale(1.1);
                transition: .6s cubic-bezier(0.25, 1, 0.5, 1);
                border: thin 0px;
            }
        }
    }
}

// Burger

.btn--burger{
    display: block;
    position: fixed;
    right: 10vw;
    padding: 0;
    text-indent: -2000vh;
    z-index: 20;
    background: transparent;
    border: none;
    cursor: pointer;  
    height: 30px;
    width: 30px;
}


.burger{
    transform: translateY(0);
    transition: transform 1.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.bar{
    display: block;
    width: 32px;
    height: 4px;
    background: var(--color-title);
    border-radius: 3px;
    transition: 1s ease-in-out;
    transition-delay: 0.6s;
}
.burger .bar{
    width: 0;
    background: transparent;
    transition: .4s ease-in-out;
}
.bar::before, .bar::after {
    content: "";
    background: var(--color-title);
    width: 32px;
    height: 4px;
    position: absolute;
    left: 0;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}
.bar::before{
    transform: translateY(-12px);
}
.burger > .bar::before{
    transform: rotate(135deg);
    transition-delay: 0.5s;
}
.bar::after{
    transform: translateY(12px);
}
.burger > .bar::after{
    transform: rotate(-135deg);
    transition-delay: 0.5s;
}

// Dark Mode Button

.btn--darkmode {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.btn--darkmode input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch {
    position: absolute;
    cursor: pointer;
    height: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-slider);
    border-radius: 34px;
    transition: .4s;
    text-indent: -2000vw;
}
.switch:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: var(--color-title);
    transition: .4s;
}
input:checked+.switch {
    background-color: var(--color-box);
}
input:focus+.switch {
    box-shadow: 0 0 1px #FFB870;
}
input:checked+.switch:before {
    transform: translateX(26px);
}

// Dark Mode

@media(prefers-color-scheme: light) {
    :root {
        --color-bg: #437f9c;
        --color-title: #ffe600;
        --color-title-pr: #fff;
        --color-txt: #fff;
        --color-box: #0B212C;
        --color-slider: #233741;
    }
}

[data-theme='dark'] {
    --color-bg: #08212c;
    --color-bg-sec: #ffffff;
    --color-title: #ffe600;
    --color-title-pr: #fff;
    --color-txt: #fff;
    --color-box: #437f9c;
    --color-slider: #233741;

}

[data-theme='light'] {
    --color-bg: #437f9c;
    --color-bg-sec: #efe9d7;
    --color-title: #ffe600;
    --color-title-pr: #fff;
    --color-txt: #fff;
    --color-box: #0B212C;
    --color-slider: #233741;

}

// Font

$font--txt: 'Karla', sans-serif;
$font--title: Juana Regular auto;

// Title

.title{
    display: flex;
    font-family: $font--title;
    color: var(--color-title);
    margin: 44px 0 0 0;
    line-height: 180%;

    &--num{
        font-size: 50px;
        text-shadow: 8px 6px 0 black;
        grid-column: 1/2;
        margin-top: 16px;
    }
    &--sec{
        justify-content: center;
        font-size: 50px;
        text-shadow: 4px 4px 0 black;
        grid-column: 2/6;
        margin-top: 16px;
    }
    &--prin{
        font-size: 28px;
        color: var(--color-title-pr);
        grid-column: 1/-1;
    }
    &--para{
        font-size: 24px;
        margin: 38px 0 0 0;
        grid-column: 1/-1;
    }
    &--slide{
        font-size: 24px;
        text-align: center;
        align-content: center;
        margin: 0;
    }
}


// Texte

.txt{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    margin: 28px 0 0 0;
    color: var(--color-txt);
    grid-column: 1/-1;

    &--jaune{
        color: var(--color-title);
    }
    &--intro{
        font-size: 20px;
        font-weight: 600;
        line-height: 170%;
        margin: 32px 0 0 0;
        grid-column: 1/-1;
    } 
    
    &--list{
        list-style: none;
        margin: 8px 0 0 0;
        grid-column: 2/-1;
        padding: 0 0 0 26px;
           
        &--big{
            list-style: circle;
            list-style-position: inside;
            margin: 24px 0 0 0;
            font-size: 20px;
            font-weight: 600;
            color: var(--color-title);
            grid-column: 1/-1;
        }
    }
    &--itw{
        padding: 24px 0 0 0;
        margin: 0;
    }
    &--drop{
        display: inline-block;
        font-size: 20px;
        font-weight: 600;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    &--footer{
        padding: 4px 0;
        margin: 0;
        grid-column: 1/5;
        font-size: 14px;
        & a{
            font-size: 14px ;
            font-weight: 600;
            color: var(--color-title);
        }
    }
    &--src{
            font-size: 20px;
            grid-column: 1/-1;
            & a{
                color: #ffe600;
                padding: 4px 8px;
                text-decoration: none;
                &:hover{
                    background-color: var(--color-slider);
                    text-decoration: underline;
                    border-radius: 5px;
                }
            }
    }
} 

.hide {
    opacity: 0;
    transform: translateY(20%);
    transition: all 1s cubic-bezier(0.11, 0, 0.5, 0);
  }
  
.show {
    opacity: 1;
    transform: translateY(0);
}

/* List */

.list{
    list-style: none;
    grid-column: 1/-1;
    padding: 0;
    margin: 16px 0 0 0;
}


/* Table */

.table{
    table-layout: fixed;
    grid-column: 1/-1;
    border-collapse: collapse;
    margin: 32px 0 8px 0;
}
thead th:nth-child(1) {
    width: 50%;
    } 
thead th:nth-child(2) {
    width: 50%;
}
tbody tr:nth-child(odd) {
    background-color: var(--color-box);
    color: var(--color-bg);
}
tbody tr:nth-child(even) {
    background-color: var(--color-bg);
    color: var(--color-txt);
}
tbody th:nth-child(odd){
    border-right: 2px solid;
}
.table__el{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    padding: 16px 8px ;
    color: var(--color-txt);
    border-bottom: 2px solid var(--color-title-pr);
}
.table__el--head{
    font-family: $font--title;
    font-size: 20px;
    padding: 8px;
    border-bottom: 2px solid var(--color-title-pr);
    color: var(--color-title);
}


// Slider Meet

.slider {
    grid-column: 1/-1;
    margin: 32px 0;
    height: 1380px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
    
    &__dot {
        width: 16px;
        height: 16px;
        margin: 16px;
        border-radius: 50%;
        z-index: 10;
        background-color: #fff;
        cursor: pointer;
        appearance: none;
        backface-visibility: hidden;

        &:checked {
            background-color: #ffe600;
            animation: check 0.5s linear forwards;

            @for $i from 0 to 5 {
                &:nth-of-type(#{$i+1}) {
                ~ .slider__inner {
                    transform: translateX((-100% * $i) / 5);
                    }
                }
            }
        }
    }
    
    &__inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% * 5;
        height: 100%;
        transition: all 1s ease-out;
        display: flex;
        flex-flow: row nowrap;
    }
    
    &__body {
        display: flex;
        flex: 1;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
        background-color: #233741;
        border-radius: 20px;
    }
}

// List DropDown

.container__drop {
    display: grid;
    grid-column: 1/-1;
    width: 100%;
    margin: 24px auto;
}
.container > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  } 
.dropdown a {
    text-decoration: none;
    color: var(--color-title);
    &:focus{
        transform: Scale(1.1);
        text-decoration: underline;
        transition: .6s cubic-bezier(0.25, 1, 0.5, 1);
    }
  }
.dropdown [data-toggle="dropdown"] {
    position: relative;
    display: block;
    width: 100%;
    background: none;
    border-bottom: 2px solid var(--color-txt);
    padding: 10px;
 }
.dropdown [data-toggle="dropdown"]:hover {
    background: var(--color-slider);
  }
.icon__arrow{
    height: 40px;
    width: 50px;
}
.dropdown .icon__arrow {
    position: absolute;
    display: block;
    color: white;
    top: 10px;
    right: 10px;
  }
.dropdown .icon__arrow.open {
    transform: rotate(-180deg);
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
 }
.dropdown .icon__arrow.close {
    transform: rotate(0deg);
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
 }
.dropdown .icon__arrow:before {
    content: url('../assets/images/Design_Fleche.svg');
 }
.dropdown .dropdown__menu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown .dropdown__menu li {
    padding: 0;
  }
.dropdown .dropdown__menu li a {
    display: block;
    background: #eee;
    padding: 10px 10px;
}
.dropdown .dropdown__menu li a:hover {
    background: #f6f6f6;
}
.dropdown .show,
.dropdown .hide {
    transform-origin: 50% 0%;
}
.dropdown .show {
    display: block;
    max-height: 600px;
    transform: scaleY(1);
    animation: showAnimation 1s cubic-bezier(0.76, 0, 0.24, 1);
    transition: max-height 1s ease-in-out;
}
 .dropdown .hide {
    max-height: 0;
    transform: scaleY(0);
    animation: hideAnimation 1s cubic-bezier(0.76, 0, 0.24, 1);
    transition: max-height 0.6s ease-out;
}

// Illustrations

.container__illu{
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    text-indent:-2000vh;
    margin: 32px auto 0 auto;
    grid-column: 1/-1;
}
.container__illu--swiper{
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    text-indent:-2000vh;
    margin: 0;
}      
.container__illu-idee{
    background-image: url(../assets/images/Design_Idee.svg);
}
.container__illu-ineg{
    background-image: url(../assets/images/Design_Inegalite.svg);
}
.container__illu-meth{
    background-image: url(../assets/images/Design_Methode.svg);
}
.container__illu-hypo{
    background-image: url(../assets/images/Design_Hypothese.svg);
}
.container__illu-fonc{
    background-image: url(../assets/images/Design_Fonction.svg);
}
.container__illu-oral{
    background-image: url(../assets/images/Design_Presentation.svg);
    height: 150px;
}
.container__illu-adn{
    background-image: url(../assets/images/Design_ADN.svg);
}
.container__illu-vieux{
    background-image: url(../assets/images/Design_Vieux.svg);
}
.container__illu-jeune{
    background-image: url(../assets/images/Design_Jeune.svg);
}
.container__illu-asbl{
    background-image: url(../assets/images/Design_ASBL.svg);
}
.container__illu-social{
    background-image: url(../assets/images/Design_Sociale.svg);
}
.container__illu-fleche{
    background-image: url(../assets/images/Design_Fleche.svg);
    height: 150px;
}

// Video

.container__video {
    display: grid;
    grid-column: 1/-1;
    text-align: center;
    position: relative;
    justify-content: center;
    margin: 20px;
    padding: 40px 0;
  }

  .video {
    grid-column: 1/-1;
    margin: 20px auto;
    width: 80%;
    height: auto;
  }

// Footer

.container__footer {
    margin-top: 48px;
    border-top: solid 2px white;
    padding: 16px;
    background-color: var(--color-box);
}
.menu__footer{
    display: flex;
    justify-content: space-between;
    list-style: none;
    grid-column: 1/4;
    grid-row: 1/1;
    padding: 0;
}
.menu__footer--el{
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    &:hover > a::after{
        width: 100%;
        transition: width .6s;
    }
    & a{
        text-decoration:none;
        color: var(--color-title);
        width: 50%;
        &:hover{
            color: var(--color-title);
            transition: .6s cubic-bezier(0.25, 1, 0.5, 1);
        }
        &::after{
            display: block;
            content: "";
            width: 0;
            height: 2px;
            background: var(--color-title);
        }
        &:focus{
            transform: Scale(1.1);
            text-decoration: underline;
            transition: .6s cubic-bezier(0.25, 1, 0.5, 1);
        }
    } 
}

.dwt{
    grid-column:5/6;
    margin: auto 0;
    text-indent: -200vw;
    max-width: 55px;
    max-height: 30px;
    background-repeat: no-repeat;
    background-image: url(../assets/images/DWT.svg);
}
.ui-kit{
    grid-column: 1/-1;
    justify-content: left;
    margin: 35px 0 0 0;
    padding: 0;
    grid-row: auto;
}

// Media Querries

@media (min-width: 600px) {

    // Grid 

    .grid{
        grid-template-columns: repeat(7, 1fr);
        gap: 24px;
        row-gap: 0;
        padding: 0 48px;
    }
    .grid__blue{
        grid-template-columns: repeat(7, 1fr);
        gap: 24px;
        row-gap: 0;
        padding: 0 48px;
    }
    .grid__footer{
        grid-template-columns: repeat(6, 1fr);
    }

    .ui-kit{
        grid-column: 1/-1;
    }

    //Logo 

    .logo{
        background-image: url('../assets/images/Logo_V2.svg');
        width: 120px;
        height: 60px;
        grid-column: 1/1;
        cursor: pointer;
    }

    // Menu

    .menu__list{
        height: 60vh;
        padding: 10vh 0 0 0;
        
        .menu--el{
            font-size: 28px;
        }
    }

    // Burger
    .btn--burger{
        height: 50px;
        width: 50px;
    }
    .bar{
        width: 50px;
        height: 4px;
        border-radius: 3px;
    }
    .bar::before, .bar::after {
        width: 50px;
        height: 4px;
    }
    .bar::before{
        transform: translateY(-18px);
    }
    .bar::after{
        transform: translateY(18px);
    }

    // Dark Mode

    .switch{
        height: 32px;
        width: 70px;
    }
    .switch:before{
        height: 24px;
        width: 24px;
    }
    input:checked+.switch:before {
        transform: translateX(32px);
    }

    // Title

    .title{
        display: flex;

        &--num{
            font-size: 128px;
            opacity: .75;
            grid-column: 5/9;
            grid-row: 1/1;
            justify-content: center;
            align-items: flex-start;
            height: 150px;
            padding-top: 32px;
            text-shadow: none;
        }
        &--sec{
            font-size: 67px;
            text-shadow: 6px 6px 0 black;
            grid-column: 5/9;
            grid-row: 1/1;
            align-items: flex-end;
        }
        &--prin{
            font-size: 40px;
            grid-column: 1/-1;
            margin: 44px 0 0 0;
        }
        &--para{
            font-size: 32px;
            grid-column: 1/-1;
            margin: 32px 0 0 0;
        }
        &--slide{
            font-size: 40px;
        }
    }

    // Texte

    .txt{
        font-size: 20px;
        grid-column: 2/9;
        line-height: 170%;

        &--intro{
            font-size: 24px;
            font-weight: 600;
            grid-column: 1/9;
            margin: 40px 0 0 0;
        }
        &--list{
            grid-column: 2/-1;
            padding: 0 0 0 32px;
            &--big{
                font-size: 24px;
                font-weight: 600;
                grid-column: 2/-1;
            }
        }
        &--drop{
            font-size: 24px;
        }
        &--footer{
            grid-column: 1/4;
            font-size: 18px;
            text-align: end;
            & a{
                font-size: 18px;
            }
        }
        &--src{
            grid-column: 2/-1;
        }
    }

    /* Listes */

    .list{
        list-style: none;
        grid-column: 2/8;
        display: inline-flex;
        flex-direction: column;
        margin: 8px;
        &--el{
            padding: 8px;
            font-size: 18px;
        }
    }


    /* Tableau */

    .table{
        grid-column: 1/8;
        margin: 16px 0 0 0;
    }
    .table__el{
        font-size: 20px;
        padding: 34px 8px;
    }
    .table__el--head{
        font-size: 32px;
        padding: 12px;
    }
    

    //Slider Rencontre

    .slider {
        grid-column: 1/-1;
        margin: 32px 0;
        height: 1250px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: center;
        
        &__dot {
            width: 16px;
            height: 16px;
            margin: 16px;
            border-radius: 50%;
            z-index: 10;
            background-color: #fff;
            cursor: pointer;
            appearance: none;
            backface-visibility: hidden;
    
            &:checked {
                background-color: #ffe600;
                animation: check 0.5s linear forwards;
    
                @for $i from 0 to 5 {
                    &:nth-of-type(#{$i+1}) {
                    ~ .slider__inner {
                        transform: translateX((-100% * $i) / 5);
                        }
                    }
                }
            }
        }
        
        &__inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% * 5;
            height: 100%;
            transition: all 1s ease-out;
            display: flex;
            flex-flow: row nowrap;
        }
        
        &__body {
            display: flex;
            flex: 1;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            padding: 0 24px;
            background-color: #233741;
            border-radius: 20px;
        }
    }
    

    // List DropDown

    .container__drop{
        grid-column: 2/7;
        margin: 24px auto;
    }
    .container > ul {
        margin: 0 0 20px 0;
      } 
    .dropdown [data-toggle="dropdown"]{
        padding: 10px;
    }

    // Illustrations

    .container__illu{
        width: 300px;
        height: 300px;
        grid-column: 1/5;
    }
    .container__illu--swiper{
        width: 250px;
        height: 250px;
        margin: 0 0 24px 0;
    }
    .container__illu-fleche{
        height: 200px;
        width: 300px;
        grid-column: 1/-1;
        margin: auto;
    }

    // Footer

    .menu__footer{
        grid-column: 1/4;
        justify-content: space-around;
    }
    .menu__footer--el{
        font-size: 16px;
    }
    .dwt{
        grid-column: 6/8;
        max-width: 100px;
        max-height: 50px;
    }
}

.ui-kit{
    grid-column: 1/-1;
    justify-content: left;
    margin: 35px 0 0 0;
    padding: 0;
    grid-row: auto;
}

@media (min-width : 1024px){

    #scroll-progress {
        height: 0;
    }

    //Logo 

    .logo{
        min-width: 204px;
        height: 108px;
        grid-column: 2/2;
        position: relative;
        top: 2vh;
    }
    //Burger 

    .btn--burger{
        display: none;
        transform: none;
    }
    .burger{
        display: none;
    }

    // Navigation

    .menu__list{
        transform: translateY(0);
        width: 100vw;
        height: 60px;
        top: 20vh;
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 8vw;
        .menu--el{
            display: flex;
            flex-flow: row; 
            width: auto;
            border-bottom: none;
            padding: 5px;
            & a{
                font-size: 20px;
                margin: 0;
                &:hover{
                    transform: translateX(0);
                }
                &:active{
                    transform: translateX(0);
                }
            }
        }
    }
    .sticky{
        position: fixed;
        top: 0;
        opacity: 0.5;
        &:hover{
            opacity: 1;
            transform: ease-in;
            transition: 0.6s;
        }
    }
    .btn--darkmode {
        position: relative;
    } 
    .switch{
        left: 10vh;
    }
    // Grid 

    .grid{
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
        row-gap: 0;
        margin: 64px 32px;
    }
    .grid__blue{
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
        row-gap: 0;
        margin: 64px 32px;
    }

    .grid__footer{
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;
    }

    // Title

    .title{
        display: flex;
        margin: 16px 0;
        justify-content: center;

        &--num{
            font-size: 124px;
            opacity: .75;
            grid-column: 7/10;
            grid-row: 1/1;
            margin: 5vh 0 0 0;
            text-shadow: none;
        }
        &--sec{
            font-size: 96px;
            text-shadow: 8px 8px 0 black;
            grid-column: 7/10;
            grid-row: 1/1;
            margin: 24vh 0 0 0;
        }
        &--prin{
            font-size: 48px;
        }
        &--para{
            font-size: 32px;
            grid-column: 3/11;
            justify-content: flex-start;
        }
        &--slide{
            font-size: 40px;
        }
    }

    // Texte

    .txt{
        font-size: 20px;
        grid-column: 4/11;

        &--intro{
            font-size: 22px;
            grid-column: 3/11;
            margin: 32px 0 0 0;
        }
        &--list{
            grid-column: 6/11;
            margin: 8px 0 0 0;
            padding: 0 0 0 26px;

            &--big{
                font-size: 22px;
                grid-column: 3/7;
            }
        }
        &--drop{
            font-size: 22px;
        }
        &--footer{
            grid-column: 2/5;
            font-size: 18px;
            padding: 8px 0;
            & a{
                font-size: 18px;
            }
        }
        &--src{
            grid-column: 4/-1;
        }
    }

    /* List */

    .list{
        grid-column: 4/11;
        display: inline-flex;
        flex-direction: column;
        margin: 0;
    }


    /* Table */

    .table{
        grid-column: 3/11;
        margin: 32px 0 8px 0;
    }
    thead th:nth-child(1) {
        width: 50%;
      } 
    thead th:nth-child(2) {
       width: 50%;
    }
    .table__el{
        font-size: 20px;
        padding: 16px 4px;
    }
    .table__el--head{
        font-size: 32px;
        padding: 16px;
    }

    .slider {
        grid-column: 3/11;
        margin: 24px 0;
        height: 110vh;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: center;
        
        &__dot {
            width: 16px;
            height: 16px;
            margin: 2rem 16px;
            border-radius: 50%;
            z-index: 10;
            background-color: #fff;
            outline: 16px / 2 solid #fff;
            outline-offset: 16px / -2;
            box-shadow: 
                0 0 0 0 #ffe600, 
                0 0 0 0 rgba(#ffe600,0);
            cursor: pointer;
            appearance: none;
            backface-visibility: hidden;
    
            &:checked {
                background-color: #ffe600;
                animation: check 0.5s linear forwards;
    
                @for $i from 0 to 5 {
                    &:nth-of-type(#{$i+1}) {
                    ~ .slider__inner {
                        transform: translateX((-100% * $i) / 5);
                        }
                    }
                }
            }
        }
        
        &__inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% * 5;
            height: 100%;
            transition: all 1s ease-out;
            display: flex;
            flex-flow: row nowrap;
        }
        
        &__body {
            display: flex;
            flex: 1;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            background-color: #233741;
            border-radius: 20px;
        }
    }

    // List DropDown

    .container__drop{
        grid-column: 4/10;
        margin: 24px auto;
    }
    .dropdown [data-toggle="dropdown"]{
        padding: 10px;
    }

    // Illustrations

    .container__illu{
        width: 300px;
        height: 300px;
        grid-column: 4/7;
        margin: 32px auto 0 auto;
    }
    .container__illu--swiper{
        width: 200px;
        height: 250px;
    }
    .container__illu-fleche{
        height: 200px;
        margin: 24px auto;
        grid-column: 1/-1;
    }

    // Footer

    .menu__footer{
        grid-column: 5/-1;
    }
    .dwt{
        grid-column: 2/4;
        max-width: 100px;
        max-height: 70px;
    }
}

    .ui-kit{
        grid-column: 1/-1;
        justify-content: left;
        margin: 35px 0 0 0;
        padding: 0;
        grid-row: auto;
    }