@import 'utils/variables';
@import 'components/type';
@import '../../node_modules/modern-normalize/modern-normalize';
@import '../../node_modules/swiper/swiper-bundle.css';
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,600;1,200&display=swap');

@font-face {
    font-family: "Juana";
    src: local("JuanaRegular"), local("JuanaSemiBold"),
      url("JuanaRegular.ttf"), url("JuanaraSemiBold.tts");
  }
  
body{
    background-color: var(--color-bg);
}

// Navigation

.grid--nav{
    grid-template-columns: repeat(3, 1fr);
}
.nav{
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 16px 0;
}

.container--menu{
    background-color:none;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 10;
}

// Logo

.logo{
    background-image: url('../assets/images/Logo.svg');
    width: 80px;
    height: 28px;
    text-indent: -2000vh;
    background-repeat: no-repeat;
    grid-column: 1/1;
    cursor: pointer;
}

// Menu

.menu--list{ 
    height: 100vh;
    width: 100vw;
    top: 0;
    padding: 20vh 0 0 0;
    margin: 0;
    background-color: var(--color-box);
    position: fixed;
    transform: translateY(-100%);
    transition: transform 1.6s;
    z-index: 19;

    .menu--el{
        list-style: none;
        display: flex;
        width: 100%;
        flex-flow: column;
        font-size: 1em;
        padding: 16px;
        font-size: 22px;
        border-bottom: 1px solid var(--color-slider);
        &:hover > a::after{
            width: 100%;
            transition: width .6s;
        }
        & a{
            text-decoration:none;
            color: white;
            width: 100%;
            margin-left: 20px;
            &:hover{
                color: var(--color-title);
                transform: translateX(10%);
                transition: .6s cubic-bezier(0.25, 1, 0.5, 1);
            }
            &::after{
                display: block;
                content: "";
                width: 0;
                height: 2px;
                background: var(--color-title);
            }            
        }
    }
}

// Burger

.btn--burger{
    display: block;
    position: fixed;
    right: 10vw;
    padding: 0;
    z-index: 20;
    background: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;    
}
.burger{
    transform: translateY(0);
    transition: transform 1.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.bar{
    display: block;
    width: 32px;
    height: 4px;
    background: var(--color-title);
    border-radius: 3px;
    transition: 1s ease-in-out;
    transition-delay: 0.6s;
}
.burger .bar{
    width: 0;
    background: transparent;
    transition: .4s ease-in-out;
}
.bar::before, .bar::after {
    content: "";
    background: var(--color-title);
    width: 32px;
    height: 4px;
    position: absolute;
    left: 0;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}
.bar::before{
    transform: translateY(-12px);
}
.burger > .bar::before{
    transform: rotate(135deg);
    transition-delay: 0.5s;
}
.bar::after{
    transform: translateY(12px);
}
.burger > .bar::after{
    transform: rotate(-135deg);
    transition-delay: 0.5s;
}

// Dark Mode Button

.btn--darkmode {
    position: absolute;
    display: inline-block;
    width: 50px;
    height: 24px;
}
.btn--darkmode input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch {
    position: absolute;
    cursor: pointer;
    height: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-slider);
    border-radius: 34px;
    transition: .4s;
}
.switch:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: var(--color-title);
    transition: .4s;
}
input:checked+.switch {
    background-color: var(--color-box);
}
input:focus+.switch {
    box-shadow: 0 0 1px #FFB870;
}
input:checked+.switch:before {
    transform: translateX(26px);
}

// Dark Mode

@media(prefers-color-scheme: light) {
    :root {
        --color-bg: #437f9c;
        --color-title: #ffe600;
        --color-title-pr: #fff;
        --color-txt: #fff;
        --color-box: #0B212C;
        --color-slider: #233741;
    }
}

[data-theme='dark'] {
    --color-bg: #08212c;
    --color-title: #ffe600;
    --color-title-pr: #fff;
    --color-txt: #fff;
    --color-box: #437f9c;
    --color-slider: #233741;

}

[data-theme='light'] {
    --color-bg: #437f9c;
    --color-title: #ffe600;
    --color-title-pr: #fff;
    --color-txt: #fff;
    --color-box: #0B212C;
    --color-slider: #233741;
}

// Grid

.grid{
    display: grid;
    gap: 16px;
    row-gap: 0;
    margin: 0 20px;
    grid-template-columns: 60px repeat(4, 1fr);
}

// Font

$font--txt: 'Karla', sans-serif;
$font--title: Juana Regular auto;
//$color--txt: 
//$color-title: ;

// Title

.title{
    font-family: $font--title;
    color: var(--color-title);
    margin: 16px 4px;
    line-height: 160%;

    &--num{
        font-size: 50px;
        text-shadow: 8px 6px 0 black;
        grid-column: 1/2;
        margin: 0;
    }
    &--sec{
        font-size: 50px;
        text-shadow: 4px 4px 0 black;
        grid-column: 2/6;
        margin: 0 0 0 8px;
    }
    &--f{
        font-size: 36px;
        grid-column: 2/6;
        text-shadow: 4px 4px 0 black;
    }
    &--prin{
        font-size: 28px;
        color: var(--color-title-pr);
        text-shadow: 2px 2px 0 black;
        grid-column: 1/-1;
        text-align: center;
    }
    &--para{
        font-size: 24px;
        color: var(--color-title-pr);
        grid-column: 1/-1;
    }
    &--slide{
        text-align: center;
        font-size: 28px;
        color: var(--color-title);
        margin: 10px 8px;
    }
}


// Texte

.txt{
    display: inline-block;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin: 0;
    padding: 16px 0;
    color: var(--color-txt);
    grid-column: 1/-1;

    &--jaune{
        color: var(--color-title);
    }
    &--num{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1/2;
        font-size: 32px;
        font-weight: 600;
        color: var(--color-title);
        background-color: var(--color-box);
        width: 40px;
        height: 40px;
        margin-bottom: 10px;
        border: 0;
        border-radius: 50px;
    }
    &--intro{
        font-size: 20px;
        font-weight: 600;
        line-height: 160%;
        grid-column: 1/-1;

        &--slide{
            margin: 0 12px;
            padding: 0;
        }
    }
    &--big{
        font-size: 20px;
        font-weight: 600;
        padding: 4px 0;
        color: var(--color-title);
        grid-column: 2/-1;
    
        &-jaune{
            color: var(--color-title);
        }
    }    
    &--big--list{
        font-size: 20px;
        font-weight: 600;
        padding: 4px 0;
        color: var(--color-title);
        grid-column: 1/-1;
    
        &-jaune{
            color: var(--color-title);
        }
    }
    &--list{
        padding: 8px 0;
        grid-column: 2/-1;
        }
    &--itw{
        padding: 16px;
        margin: 0;
    }
    &--drop{
        display: inline-block;
        font-size: 20px;
        font-weight: 600;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    &--footer{
        padding: 0;
        grid-column: 1/5;
        font-size: 14px;
        & a{
            font-size: 18px ;
            font-weight: 600;
            color: var(--color-title);
        }
    }
} 

// Slider Rencontre
.swiper {
    margin:24px auto;
    grid-column: 1/-1;
    overflow: scroll;
    width: 90%;
}
.swiper-slide{
    max-height: 1300px;
    background-color: var(--color-slider);
    border-radius: 16px;
}
.swiper-scrollbar {
    margin-top: 0;
  }
  
.swiper-scrollbar-drag {
    background-color: var(--color-title);
    width: 30px;
}
// Slider Oral

.mySwiperTwo{
    max-height: 500px;
    width: 90%;
    border-radius: 16px;
}
.list--oral{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 400px;
    padding: 0 16px;
}

// List DropDown

.container {
    display: grid;
    grid-column: 1/-1;
    width: 100%;
    margin: 24px auto;
}
.container > ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  } 
.dropdown a {
    text-decoration: none;
    color: var(--color-title);
  }
.dropdown [data-toggle="dropdown"] {
    position: relative;
    display: block;
    width: 100%;
    background: none;
    border-bottom: 1px solid var(--color-title);
    padding: 10px;
 }
.dropdown [data-toggle="dropdown"]:hover {
    background: var(--color-slider);
  }
.dropdown .icon-arrow {
    position: absolute;
    display: block;
    font-size: 0.7em;
    color: white;
    top: 14px;
    right: 10px;
  }
.dropdown .icon-arrow.open {
    transform: rotate(-180deg);
    transition: transform 0.6s;
 }
.dropdown .icon-arrow.close {
    transform: rotate(0deg);
    transition: transform 0.6s;
 }
.dropdown .icon-arrow:before {
    content: "\25BC";
  // content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" data-name="Calque 1" viewBox="0 0 95.72 37.5"><path d="M0 0c15.88 11.63 31.76 24.17 47.41 36.2 7.14-5.38 16.78-13.01 23.85-18.26C77.31 13.42 89.6 4.41 95.72 0 89.8 4.73 77.86 14.12 71.87 18.74c-6.91 5.4-17.02 13.03-24.07 18.46l-.4.3-.39-.31C31.44 25.06 15.25 12.46 0 0Z" style="fill:#ffe600"/></svg>');
 }
.dropdown .dropdown-menu {
    max-height: 0;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown .dropdown-menu li {
    padding: 0;
  }
.dropdown .dropdown-menu li a {
    display: block;
    background: #eee;
    padding: 10px 10px;
}
.dropdown .dropdown-menu li a:hover {
    background: #f6f6f6;
}
.dropdown .show,
.dropdown .hide {
    transform-origin: 50% 0%;
}
.dropdown .show {
    display: block;
    max-height: 9999px;
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    transition: max-height 1s ease-in-out;
}
 .dropdown .hide {
    max-height: 0;
    transform: scaleY(0);
    animation: hideAnimation 0.4s ease-out;
    transition: max-height 0.6s ease-out;
}

// Illustrations

.container--illu{
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    text-indent:-2000vh;
    margin: 24px 8px;
    grid-column: 1/-1;
    box-shadow: inset;
}
.container--illu--swiper{
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: 200px;
    text-indent:-2000vh;
    margin: 20px;
}      
.container--illu-idee{
    background-image: url(../assets/images/Design_Idee.svg);
}
.container--illu-meth{
    background-image: url(../assets/images/Design_Methode.svg);
}
.container--illu-hypo{
    background-image: url(../assets/images/Design_Hypothese.svg);
    height: 200px;
}
.container--illu-fonc{
    background-image: url(../assets/images/Design_Fonction.svg);
}
.container--illu-oral{
    background-image: url(../assets/images/Design_Presentation.svg);
    height: 150px;
}
.container--illu-adn{
    background-image: url(../assets/images/Design_ADN.svg);
}
.container--illu-vieux{
    background-image: url(../assets/images/Design_Vieux.svg);
}
.container--illu-jeune{
    background-image: url(../assets/images/Design_Jeune.svg);
}
.container--illu-asbl{
    background-image: url(../assets/images/Design_ASBL.svg);
}
.container--illu-social{
    background-image: url(../assets/images/Design_Sociale.svg);
}
.container--illu-fleche{
    background-image: url(../assets/images/Design_Fleche.svg);
    height: 150px;
}

// Footer

.grid--footer{
    display: grid;
    grid-template-columns: 60px repeat(4, 1fr);
    gap: 8px;
    margin: 0;
}
.container--footer {
    width: 100%;
    border-top: solid 2px white;
    padding: 24px 16px 0 16px;
    background-color: var(--color-box);
    top: 0;
    right: 0;
}
.menu--footer{
    display: grid;
    list-style: none;
    grid-column: 3/6;
    grid-row: 3/3;
    padding: 0;

    &--alt{
        display: grid;
        grid-column: 1/3;
        grid-row: 3/3;
    }
}
.menu--footer--el{
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    &:hover > a::after{
        width: 100%;
        transition: width .6s;
    }
    & a{
        text-decoration:none;
        color: var(--color-title);
        width: 50%;
        &:hover{
            color: var(--color-title);
            transition: .6s cubic-bezier(0.25, 1, 0.5, 1);
        }
        &::after{
            display: block;
            content: "";
            width: 0;
            height: 2px;
            background: var(--color-title);
        }     
    } 
}

.dwt{
    display: grid;
    grid-column:5/6;
    text-indent: -200vw;
    max-width: 55px;
    max-height: 30px;
    background-repeat: no-repeat;
    background-image: url(../assets/images/DWT.svg);
}

// Media Querries

@media (min-width: 600px) {

    //Logo 

    .logo{
        background-image: url('../assets/images/Logo.svg');
        width: 120px;
        height: 48px;
        grid-column: 1/1;
        cursor: pointer;
    }

    // Menu

    .menu--list{
        height: 60vh;
        padding: 10vh 0 0 0;
        
        .menu--el{
            font-size: 28px;
        }
    }

    // Burger
    .btn--burger{
        height: 50px;
        width: 50px;
    }
    .bar{
        width: 50px;
        height: 4px;
        border-radius: 3px;
    }
    .bar::before, .bar::after {
        width: 50px;
        height: 4px;
    }
    .bar::before{
        transform: translateY(-18px);
    }
    .bar::after{
        transform: translateY(18px);
    }

    // Dark Mode

    .switch{
        height: 32px;
        width: 70px;
    }
    .switch:before{
        height: 24px;
        width: 24px;
    }
    input:checked+.switch:before {
        transform: translateX(32px);
    }

    // Grid 

    .grid{
        grid-template-columns: repeat(7, 1fr);
        gap: 24px;
        row-gap: 0;
        margin: 0 32px;
    }

    // Title

    .title{
        display: flex;
        margin: 24px 8px;
        justify-content: center;

        &--num{
            font-size: 128px;
            opacity: .75;
            grid-column: 4/8;
            grid-row: 1/1;
            margin: 5vh 0 0 0;
            height: 200px;
            text-shadow: none;
        }
        &--sec{
            font-size: 67px;
            text-shadow: 8px 8px 0 black;
            grid-column: 4/8;
            grid-row: 1/1;
            margin: 20vh 0 0 0;
        }
        &--f{
            grid-row: 1/1;
            grid-column: 4/8;
            font-size: 56px;
            margin: 20vh 0 0 0;
        }
        &--prin{
            font-size: 40px;
        }
        &--para{
            font-size: 32px;
            grid-column: 2/8;
            justify-content: flex-start;
        }
        &--slide{
            font-size: 40px;
        }
    }

    // Texte

    .txt{
        font-size: 20px;
        grid-column: 3/-1;
        font-size: 20px;

        &--num{
            font-size: 40px;
            width: 60px;
            height: 60px;
            grid-column: 2/3;
        }
        &--intro{
            font-size: 24px;
            grid-column: 2/-1;
            margin: 24px 8px;
        }
        &--big{
            font-size: 24px;
            height: 30px;
        }
        &--big--list{
            font-size: 24px;
            grid-column: 2/-1;
        }
        &--list{
            grid-column: 3/-1;
        }
        &--drop{
            font-size: 24px;
        }
        &--footer{
            grid-column: 2/5;
            font-size: 16px;
            & a{
                font-size: 20px;
            }
        }
    }

    //Slider Rencontre

    .swiper{
        overflow: scroll;
        margin: 0 auto;
    }
    .swiper-scrollbar{
        margin-top: 0;
    }
    .mySwiperTwo{
        height: 500px;
        width: 90%;
        border-radius: 16px;
        margin: 0 auto;
        grid-column: 1/-1;
    }
    .list--oral{
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        height: 400px;
        padding: 0 16px;
    }

    // List DropDown

    .container{
        grid-column: 2/7;
    }
    .dropdown [data-toggle="dropdown"]{
        border-bottom: 2px solid var(--color-title);
    }
    .dropdown .icon-arrow{
        font-size: 1em;
    }

    // Illustrations

    .container--illu{
        width: auto;
        height: 350px;
        grid-column: 1/4;
    }
    .container--illu--swiper{
        width: auto;
        height: 250px;
    }
    .container--illu-fleche{
        height: 200px;
        width: 300px;
        grid-column: 1/-1;
        margin: auto;
    }

    // Footer

    .grid--footer{
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;
    }
    .menu--footer{
        grid-column: 5/8;
        &--alt{
            grid-column: 3/5;
        }
    }
    .dwt{
        grid-column: 5/7;
        max-width: 100px;
        max-height: 70px;
    }
}

@media (min-width : 1024px){

    //Burger 

    .btn--burger{
        display: none;
        transform: none;
    }
    .burger{
        display: none;
    }

    // Navigation

    .grid--nav{
        grid-template-columns: repeat(9, 1fr);
    }
    .container--menu{
        width: 100%;
    }
    .menu--list{
        transform: translateY(0);
        width: 100%;
        height: 60px;
        top:10vh;
        position: absolute;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 32px;
        .menu--el{
            display: flex;
            flex-flow: row;
            width: auto;
            border-bottom: none;
            & a{
                font-size: 22px;
                margin: 0;
                &:hover{
                    transform: translateX(0);
                }
            }
        }
    }
    .switch{
        grid-column: 2/3;
    }

    //Logo 

    .logo{
        background-image: url('../assets/images/Logo.svg');
        width: 140px;
        height: 60px;
        grid-column: 1/1;
        cursor: pointer;
    }
    // Grid 

    .grid{
        grid-template-columns: repeat(12, 1fr);
        gap: 32px;
        row-gap: 0;
        margin: 64px 32px;
    }

    // Title

    .title{
        display: flex;
        margin: 16px 16px;
        justify-content: center;

        &--num{
            font-size: 246px;
            opacity: .75;
            grid-column: 7/12;
            grid-row: 1/1;
            margin: 5vh 0 0 0;
            height: 200px;
            text-shadow: none;
        }
        &--sec{
            font-size: 128px;
            text-shadow: 8px 8px 0 black;
            grid-column: 7/12;
            grid-row: 1/1;
            margin: 40vh 0 0 0;
        }
        &--f{
            grid-row: 1/1;
            grid-column: 7/12;
            font-size: 80px;
            margin: 40vh 0 0 0;
        }
        &--prin{
            font-size: 56px;
        }
        &--para{
            font-size: 32px;
            grid-column: 2/8;
            justify-content: flex-start;
        }
        &--slide{
            font-size: 40px;
        }
    }

    // Texte

    .txt{
        font-size: 20px;
        grid-column: 3/11;
        font-size: 20px;

        &--num{
            font-size: 36px;
            width: 60px;
            height: 60px;
            margin: 0;
            grid-column: 4/5;
        }
        &--intro{
            font-size: 24px;
            grid-column: 4/11;
            margin: 16px 16px;
        }
        &--big{
            font-size: 24px;
            height: 30px;
            grid-column: 5/11;
        }
        &--big--list{
            font-size: 24px;
            grid-column: 3/7;
        }
        &--list{
            grid-column: 6/11;
        }
        &--drop{
            font-size: 24px;
        }
        &--footer{
            grid-column: 2/5;
            font-size: 16px;
            & a{
                font-size: 20px;
            }
        }
    }

    //Slider Rencontre

    .swiper{
        overflow: hidden;
        margin: 0 auto;
    }
    .swiper-scrollbar{
        margin-top: 0;
    }
    .swiper-wrapper{
        width: 1000px;
    }
    .mySwiperTwo{
        height: 900px;
        border-radius: 16px;
        margin: 0 20px;
        grid-column: 2/12;
        max-height: 1200px;
    }
    .list--oral{
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        height: 700px;
        padding: 0 16px;
    }
    // List DropDown

    .container{
        grid-column: 3/11;
    }
    .dropdown [data-toggle="dropdown"]{
        border-bottom: 2px solid var(--color-title);
    }
    .dropdown .icon-arrow{
        font-size: 1em;
    }

    // Illustrations

    .container--illu{
        width: 500px;
        height: 500px;
        grid-column: 2/7;
    }
    .container--illu--swiper{
        width: auto;
        height: 250px;
    }
    .container--illu-fleche{
        height: 200px;
        margin: 24px auto;
        grid-column: 1/-1;
    }

    // Footer

    .grid--footer{
        grid-template-columns: repeat(6, 1fr);
        gap: 16px;
    }
    .menu--footer{
        grid-column: 5/8;
        &--alt{
            grid-column: 3/5;
        }
    }
    .dwt{
        grid-column: 5/7;
        max-width: 100px;
        max-height: 70px;
    }
}